#gameover {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#gameover h2,
#gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    color: #8435de;
}

#gameover img {
    margin: 2rem;
    height: 200px;
    filter:drop-shadow(11px 3px 10px #000000);
}

#gameover p.msg {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 10px;
}