#welcome {
    text-align: center;
    max-width: 500px;
}

#welcome h2,
#welcome p {
    margin-bottom: 1rem;
}

#welcome p {
    color: #8435de;
}

#welcome img {
    margin-top: 2rem;
    max-height: 300px;
    filter:drop-shadow(11px -2px 9px #000000);
}